<!-- dwitter/templates/dwitter/profile_list.html -->

{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="column">

{% for profile in profiles %}

    <div class="block">
      
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                
                <img src="{% static profile.profile_pic.url %}"
                     alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <a href="{% url 'dwitter:profile' profile.id %}">
                <div class="card-content">
                    <!-- ... More card code -->
                    <p class="title is-4">
                      {{ profile.user.username }}
                    </p>
                    <p class="subtitle is-6">
                      @{{ profile.user.username|lower }}
                    </p>
                </div>
            </a>
              
              
            </div>
          </div>
        </div>
        
          
        </a>
      </div>
    </div>

{% endfor %}

</div>

{% endblock content %}